language: node_js
sudo: false
node_js:
  - 10
  - 9
  - 8
branches:
  only:
    - master
    - /^greenkeeper/.*$/
cache:
  directories:
    - node_modules
before_install: # https://github.com/greenkeeperio/greenkeeper-lockfile
  - npm install --global greenkeeper-lockfile@1
install: # Retry install on fail to avoid failing a build on network/disk/external errors
  - travis_retry npm install
before_script: # https://github.com/codeclimate/test-reporter/tree/master/examples
  - curl --location https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./codeclimate-reporter
  - chmod +x ./codeclimate-reporter
  - ./codeclimate-reporter before-build
  - greenkeeper-lockfile-update
script:
  - npm run coverage
after_script:
  - ./codeclimate-reporter after-build --exit-code $TRAVIS_TEST_RESULT
  - greenkeeper-lockfile-upload
before_deploy:
  - npm run build
deploy:
  provider: script
  skip_cleanup: true
  script:
    - npm run deploy

