language: node_js
sudo: false
node_js:
  - 6
  - 7
  - 8
  - 9
branches:
  only:
    - master
cache:
  directories:
    - node_modules
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./codeclimate-reporter
  - chmod +x ./codeclimate-reporter
  - ./codeclimate-reporter before-build
script:
  - npm run coverage
after_script:
  - ./codeclimate-reporter after-build --exit-code $TRAVIS_TEST_RESULT
